.content {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

.calc {
  &__container {
    background-color: $color-primary-grey;
    border-radius: 10px;
  }

  &__screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: $color-primary-green;
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: 10px;
    font-size: 1.6rem;
  }

  &__numbers {
    margin: 1rem;

    &-clear {
      display: flex;
      justify-content: space-around;
    }
  }

  &__button {
    background-color: $color-secondary-grey;
    padding: 2rem;
    border: 1px solid $color-primary-black;
    border-radius: 10px;
    margin-left: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.clear {
  width: 40%;
}

.del {
  width: 40%;
}

.orange {
  background-color: $color-primary-orange;
}
